@import url(
'https://pp.userapi.com/c636631/v636631759/21708/bYyHoBBs5Cs.jpg');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.imgbox {
    position: relative;
    width: 500px;
}

.mybtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 110px;
    height: 40px;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    box-shadow: rgba(242, 242, 242) 0px 3px 20px;
    transition: 0.3s linear;
    font-weight: 700;
}

.mybtn:hover {
    transform: translateY(5px);
}

img {
    width: 500px;
    margin: 0;
    padding: 0;
    border-radius: 30px;
    box-shadow: rgb(21, 20, 20) 0px 3px 20px;
}

h1 {
    color: rgb(16, 87, 16);
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    color: palevioletred;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
